html {
	background-color: #c5c2bb;
}

body {
	margin: 0 auto;
	width: 80%;
	background-color: lightgray;
}

.login {
	margin: 0 auto;
}

.dispatcherList {
	margin: 0 auto;
}

.overline1{
	font-weight: bold;
}

.holiday-event{
	background-color: grey;
}
.dispatcher-event{
	background-color: red;
}

.vacation-event{
	background-color: green;
}

.other-event{
	background-color: orange;
}

#evonik_logo {
	position: absolute;
	right: 11%;
	top: 20px;
	height: 80px;
	width: auto;
}

#dispatcher_logo {
	margin-left: 10px;
}

#footer {
	text-align: center;
	color: #c5c2bb;
	font-size: 14px;
}

#evonik_headline {
	position: absolute;
	color: #9a1d85;
	top: 20px;
	margin-left: 130px;
	font-weight: bold;
	font-size: 20px;
}

.evonik_deep_purple {
	color: #9a1d85;
}

.evonik_warm_grey {
	color: #c5c2bb;
}

/* Override classes for menubar  */
.ui-menu.ui-widget a {
	color: black;
}

.ui-menu.ui-widget li>.ui-menuitem-link.ui-state-hover {
	color: #9a1d85;
	background-color: transparent;
	background-image: none;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)) repeat scroll 0 0 #85B2CB;
    border: 1px solid #7096AB;
    color: #1C4257;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
/*
	Hides dispatcher select all checkbox.
*/
.table-no-select-all .ui-chkbox-all {
     display: none !important;
}

.newEmpPanel tr, .newEmpPanel td {
	background: none !important;
border: none !important;
}